
body{
	padding: 0;
	margin:0;
	height: 100vh;
}

.wrapper{	
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	height: 100%;
	/*
	grid-template-areas: 
  		“top top top”
    “droite centre gauche”
    “footer footer footer”;
    */
}

.header{
	grid-column-start:1;
	grid-column-end:4;
	grid-row-start:1;
	grid-row-end:2;
	background-color: tomato; 
	text-align: center;	
}

ul{
	padding-left: 0px;
	list-style: none;
}

li{
	padding: 10px;
	border: 1px solid lightblue;

}



.navlink a{
	text-decoration: none;
}

.links{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

	width: 100%;

}

.aside{
	padding:5px;
}

.aside-1{
	background-color: yellow;
	grid-column-start:1;
	grid-column-end:2;


}


.main{
	padding:10px;
	background-color: deepskyblue;
	grid-column-start:2;
	grid-column-end:3;
}

.aside-2{
	background-color: pink; 
	grid-column-start:3;
	grid-column-end:4;
}

.col{
	margin: 5px;
}

.footer{
	background-color: green;
	grid-column-start:1;
	grid-column-end:4;
}
